:root {
    --dark-blue: #0D3B66;
    --light-blue: #174785;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI'
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

.top-bar {
    background-color: var(--dark-blue);
    padding: 15px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
    height: 55%;
}

h1 {
    font-weight: normal;
}

h2 {
    font-size: 16pt;
    font-weight: 600;
}

h3 {
    font-size: 15pt;
    font-weight: 600;
}

h4 {
    font-size: 13pt;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

hr {
    border: none;
    height: 1px;
    background-color: #dedede;
    margin: 20px 0;
}


strong,
b {
    font-weight: 600;
}

.item {}

.score {
    float: right;
    padding-left: 20px;
    font-family: "Intel One Mono";
    font-size: 36pt;
    position: relative;
    top: 50%;
    transform: translateY(calc(-50% + 5px));
}

.nav-links {
    display: flex;
    gap: 10%;
}

.nav-item {
    color: #f4f4f9;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #4f9fff;
}

/* Main Content */
.mainframe {
    max-width: 1000px;

    margin: 40px auto;
    padding: 0 20px;
}

@media (max-width: 1000px) {
    .mainframe {
        max-width: 90%;
    }
}

.introduction {
    text-align: center;
    margin-bottom: 50px;
}

.introduction h1 {
    font-size: 3rem;
    color: var(--dark-blue);
    margin-bottom: 10px;
}

.introduction p {
    font-size: 1.2rem;
    color: #555;
}

p {
    margin-bottom: 10px;
}

.box {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    border: 1px solid #dedede;
    /* box-shadow: 0 6px 15px rgba(0,0,0,0.1); */
}

.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #0D3B66;
    border-radius: 12px;
}

.social-icons {
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.btn {
    font-size: 1rem;
    padding: 10px 35px;
    border: 1px solid #dedede;
    background-color: #ffffff;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.btn:hover {
    background-color: #d8d8d8ff;
}

@media (max-width: 500px) {
    .social-icons {
        font-size: 2rem;
    }

    .btn {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

dialog {
    border: none;
    border-radius: 12px;
    padding: 20px 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 350px;
    max-width: 90%;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    float: right;
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #ff4d4d;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.skills-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill-card {
    width: 160px;
    height: 160px;
    perspective: 1000px;
    cursor: pointer;
}

.skill-card div {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 1.5s;
    backface-visibility: hidden;
    padding: 15px;
    font-weight: 600;
}

.skill-front {
    background-color: #ebebeb;
    border: 1px solid #dedede;
    gap: 10px;
}

.skill-card .skill-back {
    background-color: white;
    transform: rotateY(180deg);
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}

.skill-card:hover .skill-front {
    transform: rotateY(180deg);
}

.skill-card:hover .skill-back {
    transform: rotateY(0deg);
}

.skill-card .skill-front,
.skill-card .skill-back {
    position: absolute;
    background-color: #ebebeb;
    border: 1px solid #dedede;
}

.skill-front p {
    margin-top: auto;
    margin-bottom: 0px;
}

.toc-panel {
    position: fixed;
    top: 100px;
    right: 0;
    width: 200px;
    background: white;
    border: 1px solid #dedede;
    border-radius: 12px;
    padding-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
    transition: transform 0.6s ease;
    z-index: 1000;
}

.toc-link {
    text-decoration: none;
    color: black;
}

.toc-panel.hidden {
    transform: translateX(2000px);
}

#toc-arrow {
    position: fixed;
    top: 100px;
    right: 0;
    width: 30px;
    height: 30px;
    background: white;
    border: 1px solid #dedede;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1001;
    transition: transform 0.6s ease;
}

#toc-arrow.rotated {
    transform: rotate(180deg);
}

#toc-list {
    margin: 0;
    padding-left: 20px;
}

.toc-header {
    display: none;
}

.flex-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    min-width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 12px;
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.gallery img {
    width: 200px;
    max-width: 100%;
    cursor: pointer;
    border-radius: 8px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);

}

.modal-container {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: min(70%, calc(5% + 10vw + 2vw));
    margin-right: min(70%, calc(5% + 10vw + 2vw));
    margin-top: 100px;
    background-color: white;
    border: 1px solid #dedede;
    border-radius: 12px;
}

.modal-div {
    display: flex;
    align-items: top;
    justify-content: flex-start;
    gap: 20px;
}

.modal-img {
    max-width: 50%;
    height: auto;
    object-fit: contain;
}

#rightFrame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 50%;
    text-align: left;
}


.inline-button {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: 0;
    font-size: 12pt;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.inline-button:hover {
    background-color: #f3f3f3;
}

.inline-button:active {
    background-color: #e8e8e8;
}

.close {
    color: black;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.active-image {
    box-shadow: 0 0 15px 4px #87cefa;
    border-radius: 4px;
    transition: box-shadow 0.5s ease, transform 0.3s ease;
    transform: scale(1.05);
}

.images img {
    transition: box-shadow 0.5s ease, transform 0.3s ease;
}

@media (max-width: 1000px) {
    .modal-container {
        width: 90%;
        margin: 50px auto !important;
        padding: 10px;
    }

    .modal-div {
        flex-direction: column !important;
        align-items: center !important;
        gap: 10px !important;
    }

    .modal-img {
        max-width: 100% !important;
        height: auto;
    }

    #rightFrame {
        max-width: 100% !important;
        text-align: left;
    }

    .inline-button {
        width: 45%;
        margin: 0 2%;
    }
}

@media (min-width: 1750px) {
    .modal-container {
        margin-left: 25%;
        margin-right: 25%;
    }
}